* {
  padding: 0;
  margin: 0;
}
body{ 
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.site-container{
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: auto;
  margin: 0 auto;
}


#nav-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#nav-logo{
  width: 190px;
  height: 148px;
  align-self: center;
  margin: 0px 10px;
}
#nav-container ul{
  display: flex;
  list-style:none;
  justify-content: flex-start;
  align-self: center;
	padding:0;
}
#nav-container ul a{
	display:block;
	color:#666;
	text-decoration:none;
	font-weight:700;
	font-size:14px;
	line-height:32px;
}
#nav-container ul li{
	margin: 10px;
	padding:0px;
}
#nav-container ul a:hover{
  color: #000;
}


#landing-page{
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  word-wrap: break-word;
}
#image-header{
  display: flex;
  align-self: center;
  height: 450px;
  width: 100%;
  max-width: 1000px;
  background-image: url('coffeeIMG.jpg');
  background-position: center center;
  background-size: cover;
}
#landing-desc{
  font-size: 34px;
  text-align: center;
  font-weight: bold;
}
#landing-list{
  font-size: 21px;
  letter-spacing: 0.5px;
  font-weight: 300;
  text-align: center;
}
#landing-info{
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  margin: 20px 0px;
}

#menu-container{
  padding: 0px 20px;
}
#menu-container:after {
  content: "";
  display: table;
  clear: both;
}
#menu-title-header{
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  width: 100%;
}
.menu-column{
  width: 50%;
  float: left;
}
.menu-content-container{
  display: flex;
  flex-direction: column;
}
.menu-header{
  display: inline-block;
  font-weight: 800;
  margin-top: 10px;
  font-size: 22px;
}
.menu-header-desc{
  display: inline-block;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}
.menu-title{
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.2px;
}
.menu-desc{
  display: inline-block;
  font-weight: lighter;
  margin-bottom: 10px;
  letter-spacing: 0.7px;
}


#location-container{
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}
#mapid { 
  height: 300px; 
  width:100%; 
}
#store-image{
  display: flex;
  align-self: center;
  height: 300px;
  width: 100%;
  max-width: 1000px;
  background-image: url('storefront.jpg');
  background-position: center center;
  background-size: cover;
  margin: 20px 0px;
}


#footer{
  display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: auto;
    margin: 0 auto;;
}
#find-us-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin: 20px 20px;
}
#contact-container{
  font-size: 16px;
}
.social-icon{
  width: 40px;
  height: 40px;
  margin: 10px;
  transition: 0.3s ease-out;
}
.social-icon:hover{
  transform: scale(1.2);
}


/* Responsiveness */
@media only screen and (max-width: 700px) {
  #nav-header{padding-top: 10px; align-self: center; justify-content: space-around;}
  #nav-wrapper ul{
    justify-content: space-evenly;
    align-self: auto;
    margin: 0;
  }
  #nav-wrapper ul li{
    margin: 0px;
  }
  #nav-logo{
    height: 100px;
    width: 150px;
  }
  #image-header{
    height: 220px;
  }
  #nav-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu-column{
    width: 100%;
  }
  #find-us-container{
    flex-direction: column;
  }
  #map-container{
    flex-direction: column;
  }
  #store-image{
    height: 200px;
  }
}