* {
  padding: 0;
  margin: 0;
}
body{ 
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.site-container{
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: auto;
  margin: 0 auto;
}
/*Nav Bar*/
#nav-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#nav-header-img{
  width: 150px;
  align-self: center;
  margin: 0px 30px;
}
#nav-wrapper ul{
  display: flex;
  list-style:none;
  justify-content: flex-start;
  align-self: center;
	padding:0;
}
#nav-wrapper ul a{
	display:block;
	color:#888;
	text-decoration:none;
	font-weight:700;
	font-size:14px;
	line-height:32px;
}
#nav-wrapper ul li{
	margin: 10px;
	padding:0px;
}
#nav-wrapper ul a:hover{
  color: #000;
}
#nav-wrapper ul ul{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}
#nav-wrapper ul ul li{
	float:none;
	width:200px
}
#nav-wrapper ul ul a{
	line-height:120%;
	padding:10px 15px;
  background-color: grey;
}
#nav-wrapper ul ul ul{
	top:0;
	left:100%
}
#nav-wrapper ul li:hover > ul{
	display:block
}
/*Nav Bar*/

#landing-page{
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  word-wrap: break-word;
}
h1, h2, #store-image{
  margin: 0px 0px 20px;
}
#image-header{
  display: flex;
  align-self: center;
  height: 450px;
  width: 100%;
  max-width: 1000px;
  background-image: url('coffeeIMG.jpg');
  background-position: center center;
  background-size: cover;
}
#landing-desc{
  font-size: 34px;
  text-align: center;
  font-weight: bold;
}
#landing-list{
  font-size: 21px;
  letter-spacing: 0.5px;
  font-weight: 300;
  text-align: center;
}
#landing-info{
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  margin: 20px 0px;
}

/*Menu*/
#menu-container{
  margin: 0px 20px;
}
#menu-container:after {
  content: "";
  display: table;
  clear: both;
}
#menu-title-header{
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  width: 100%;
}
.menu-column{
  width: 50%;
  float: left;
  display: flex;
    flex-direction: column;
}
.menu-header{
  display: inline-block;
  font-weight: 800;
  margin-top: 10px;
  font-size: 22px;
}
.menu-header-desc{
  display: inline-block;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}
.menu-title{
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.2px;
}
.menu-desc{
  display: inline-block;
  font-weight: lighter;
  margin-bottom: 10px;
  letter-spacing: 0.7px;
}


#store-image{
  display: flex;
  align-self: center;
  height: 300px;
  width: 100%;
  max-width: 1000px;
  background-image: url('storefront.jpg');
  background-position: center center;
  background-size: cover;
}

/* Map */
#mapid { height: 300px; width:100%; }
#map-container{
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

/* Find Us */
#find-us-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin: 20px 20px;
}
.social-icon{
  width: 40px;
  height: 40px;
  margin: 10px;
  transition: 0.3s ease-out;
}
.social-icon:hover{
  transform: scale(1.2);
}
#contact-container{
  font-size: 16px;
}

/* Responsiveness */
@media only screen and (max-width: 700px) {
  #nav-header{padding-top: 10px; align-self: center; justify-content: space-around;}
  #nav-wrapper ul{
    justify-content: space-evenly;
    align-self: auto;
    margin: 0;
  }
  #nav-wrapper ul li{
    margin: 0px;
  }
  #image-header{
    height: 220px;
  }
  #nav-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu-column{
    width: 100%;
  }
  #find-us-container{
    flex-direction: column;
  }
  #map-container{
    flex-direction: column;
  }
  #store-image{
    height: 200px;
  }
}