#nav-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#nav-logo{
  width: 190px;
  height: 148px;
  align-self: center;
  margin: 0px 10px;
}
#nav-container ul{
  display: flex;
  list-style:none;
  justify-content: flex-start;
  align-self: center;
    padding:0;
}
#nav-container ul a{
    display:block;
    color:#666;
    text-decoration:none;
    font-weight:700;
    font-size:14px;
    line-height:32px;
}
#nav-container ul li{
    margin: 10px;
    padding:0px;
}
#nav-container ul a:hover{
  color: #000;
}
  
/* Responsiveness */
@media only screen and (max-width: 700px) {
  #nav-header{padding-top: 10px; align-self: center; justify-content: space-around;}
  #nav-wrapper ul{
    justify-content: space-evenly;
    align-self: auto;
    margin: 0;
  }
  #nav-wrapper ul li{
    margin: 0px;
  }
  #nav-logo{
    height: 110px;  
    width: 150px;
  }
  #nav-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
}