#nav-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#nav-logo{
  height: 125px;
  width: 150px;
  align-self: center;
  margin: 0px 10px;
}
#nav-links{
  align-self: center;
  font-weight: 500;
  margin: 10px 0px;
}
#nav-links:active{
  color: black;
}
#nav-links > a {
  margin: 5px;
}
#nav-links > a:hover{
  color: black;
}
/* Responsiveness */
@media only screen and (max-width: 700px) {
  #nav-container{
    flex-direction: column;
  }
  #nav-header{
    padding-top: 10px; 
    align-self: center; 
    justify-content: space-around;
  }
  #nav-logo{
    height: 100px;  
    width: 120px;
  }

  #nav-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
}